@{
  Layout = "_Layout";
}
@using Library.Models;


@Html.ActionLink(" Add Book", "Create", null, null, new { @class="btn btn-info fa fa-user-plus" })
@Html.ActionLink(" Home", "Index", "Home", null, new { @class="btn btn-info fa fa-home" })
<h1>Books:</h1>

@if (@Model.Count == 0)
{
  <h3>No Books have been Checked out yet!</h3>
} 
<ul>
 <h1>@Model.Count</h1>
  @foreach (Checkout checkout in Model) 
  {
    <li>@Html.ActionLink($"{checkout.Copy.Book.Title}", "Details", "books", new { id = checkout.Copy.Book.BookId }) | Checkout Date: @checkout.CheckoutDate.ToString("MM/dd/yyyy") | DueDate: @checkout.DueDate.ToString("MM/dd/yyyy")  </li>
  }
</ul>
